body {
    margin: 0;
    padding: 0;
}

header {
    background: azure;
    color: steelblue;
    font-size: 4vw;
    font-variant: all-small-caps;
    font-weight: 800;
    height: 10vh;
    padding-top: 5vh;
    text-align: center;
    width: 100vw;
}

.tool-button {
    background-size: 300%;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 2px;
    width: 30px;
}
.tool-button:hover {
    border-color: #777777;
}
